.npmignore
.editorconfig
.eslintrc*
.eslintignore
.gitignore
.config
.github
TODO.md
tailwind.config.js

.vscode/
**/test/
**/node_modules/
**/dist/
**/docs/
**/scripts/
*.gif
*.pdf
*.log
*.tgz
*.sh

examples/**/*.tex
examples/**/*.pdf
examples/**/*.png
examples/**/*.jpg
examples/**/*.jpeg
examples/**/*.gif
examples/**/*.svg
