<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css"></link>
    <script>
        function copyToClipboard(target) {
            const element = document.getElementById(target);
            if (element) {
                const text = element.innerText;
                navigator.clipboard.writeText(text);
                alert("Copied to clipboard!");
            }
        }

        function downloadSvg() {
            const svgContent = document.getElementById('svg-container').innerHTML;
            const blob = new Blob([svgContent], { type: 'image/svg+xml' });
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = 'graph.svg';
            link.click();
            URL.revokeObjectURL(url);
        }
    </script>
    <link rel="stylesheet" href="./css/styles.css"></link>
</head>
<body>
    <nav>
        <a href="./index.html">Docs</a>
        <a href="./gallery.html">Gallery</a>
        <a href="./playground.html">Playground</a>
        <a href="https://github.com/isle-project/graphmaker">GitHub</a>
    </nav>
    {{body}}
</body>
</html>
