<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>graphmaker</title>
    <link rel="stylesheet" href="./css/styles.css"></link>
    <link rel="stylesheet" href="./css/modest.css"></link>
</head>
<body>
    <nav>
        <a href="./index.html">Docs</a>
        <a href="./gallery.html">Gallery</a>
        <a class="pointer-events-none text-gray-400">Playground</a>
        <a href="https://github.com/isle-project/graphmaker">GitHub</a>
    </nav>
    <div id="readme" class="mx-auto max-w-3xl leading-7">
        {{content}}
    </div>
</body>
</html>
